body {
  font-family: arial, sans-serif;
}
h1 {
  color: rgb(135, 135, 135);

  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}
ul {
  margin: 0 0 10px;
  padding: 0;
}
li {
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}
.weather-app {
  border: 1px solid #dadde1;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}
.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.unit {
  position: relative;
  top: -32px;
}
.link {
  position: fixed;
  margin: 0;
  bottom: 0;
}
